@tailwind base;
@tailwind components;
@tailwind utilities;

.me-color {
    color: #3f4b6d;
}

.me-bg {
    background: #3f4b6d;
}

.navbar-active {
    color: white !important;
}

.navbar-active:hover {
    color: black !important;
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #3f4b6d;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
    margin-left: 10px;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #3f4b6d;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.activea {
    color: white;
    transition: 500ms;
    background: #3f4b6d;
    border-radius: 8px;
    padding: 0.5rem 1rem;
}

.notactivea {
    color: black;
    transition: 500ms;
    border-radius: 8px;
}

.text-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}