@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-active {
    color: white !important;
}

.navbar-active:hover {
    color: black !important;
}

/* Timeline holder */
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

/* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #4f46e5;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
    margin-left: 10px;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #4f46e5;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}